.container {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
    box-sizing: border-box; /* Ensure padding is included in width */
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; /* Add border radius */
}

.toggleButton {
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
}
